.leaflet-container {
  /* all maps */
  width: auto;
  height: 550px;
  border: 2px solid #333333;
}

.title-area {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #000000;
}
.title-area p {
  font-size: 2em;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-marker-icon .number {
  position: relative;
  top: -22px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  width: 25px;
  text-align: center;
}

.legend {
  font-size: 1.3em;
  margin: 15px 0;
  padding: 10px;
  border: 2px solid #000000;
}

.legend ul {
  list-style: none;
}

.legend li {
  line-height: 1.5em;
}

.location-list .content-wrap {
  width: 100%;
}
.location-list .content-wrap .container, .location-list .content-wrap .row {
  width: 100%;
}
