// customize bootstrap variables here:
@import "variables";
@import "bootstrap";
@import "font-awesome";

.mediaitem-container {
    /*padding: 5px 20px 5px 20px;*/
}

.mediaitem-content {
    /*margin: auto;*/
    /*text-align: center;*/
    /*overflow-y: auto;*/
}

 .leaflet-container {  /* all maps */
        width:  auto;
        height: 550px;
        border: 2px solid #333333;

    }

 .title-area {
     text-align: center;
     margin-bottom: 20px;
     border-bottom: 2px solid #000000;
     padding: 4px 20px 10px;

   h1,h2,h3,h4 {
     font-size: 1.6em;
   }

   p {
     font-size: 1.35em;
     text-align: left;
   }
 }

 .leaflet-div-icon {
	background: transparent;
	border: none;
}

.leaflet-marker-icon .number{
	position: relative;
	top: -22px;
	font-size: 12px;
    font-weight: bold;
    color: #ffffff;
	width: 25px;
	text-align: center;
}

.legend {
    font-size: 1.3em;
    margin: 15px 0;
    padding: 10px;
    border: 2px solid #000000;
}

.legend ul {
    list-style: none;
}

.legend li {
    line-height: 1.5em;
}

.story-text {
    margin: 25px 30px 15px;
    font-size: 1.5em;
    text-align: left;
}

.mediaitem-content .media { }

.mediaitem-content .mediaitem a {
    display: block;
    width: 225px;
}

.mediaitem-content .mediaitem img {
    height: 140px;
    width: auto;
    max-width: 200px;
}

.mediaitem-content .mediaitem .media-heading {
    font-size: 20px;
}
.mediaitem-content .mediaitem .media-body {
    padding: 10px 10px 10px 0;
    text-align: left;
}

.video-player iframe {
    margin: 0 auto;
}

.media-wrapper img {
    max-width: 80%;
    width: auto;
    max-height: 80%;
    height: auto;
}

.attribution {
    margin: 5px;
    font-style: italic;
}

.media-content-types [class^="icon-"]:before, .media-content-types [class*=" icon-"]:before {
    font-size: 30px;
    color: blue;
}

.mediaitem-content {
    text-align: center;

    a {
      margin: 50px auto;
    }
}

.location-list .content-wrap {
  width: 100%;
  .container, .row {
    width: 100%;
  }
}


