{% extends "site_base.html" %}

{% load i18n %}{% load leaflet_tags %}

{%  block extra_head %}

    {%  include 'mediastory/mediastory_head.html' %}

{%  endblock %}

{% block title %} {% trans "Location Media Test" %} — {{ block.super }} {% endblock %}

{% block body %}
  <header class="jumbotron subhead" id="overview">
    <h1>{% trans "Location Media Test" %}</h1>
    <p class="lead">{% trans "This is a test page to show the media overlay functionality." %}</p>
  </header>

  {% leaflet_map "main" callback="main_map_init" %}

    <div class="legend">
      <ul>
      {% for location in locations %}
        <li id="location-{{ location.id }}"><strong>{{ forloop.counter }}</strong>: <a href="#">{{ location.name }}</a></li>
      {% endfor %}
      </ul>
    </div>

{% endblock %}

{% block extra_script %}

    {%  include "mediastory/mediastory_js.html" %}

    <script type="text/javascript">

        // Main map setup function
        function main_map_init (map, options) {

            var reserves_pl = L.tileLayer.wms("{{ GEOSERVER_BASE_URL }}wms", {
                layers: 'opengeo:gn_reserves',
                format: 'image/png',
                transparent: true,
                version: '1.1.0',
                attribution: "myattribution"
            });

            reserves_pl.addTo(map);

            var marker;

             {% for location in locations %}

                marker = new CustomMarker([{{ location.position.latitude }}, {{ location.position.longitude }}], {
                    icon:	new NumberedDivIcon({number: '{{ forloop.counter }}'})
                });

                marker.bindPopup('<h3>{{ location.name }}</h3> {{ location.description|safe|escapejs }}', {
                    showOnMouseOver: true
                });


                marker.on('click', function() {
                  $.lightbox([
                      {% for mediaitem in location.mediaitem_set.all %}
                        {
                          'href'   : "{% url 'mediaitem_detail' mediaitem.id %}",
                          'modal'  : true,
                          'width'  : 1000,
                          'height' : 750,
                          'title'  : "{{ location.name }} : {{ mediaitem.title }}"
                        },
                      {%  endfor %}
                  ],
                  {
                      'onOpen'  : function() {
                          var windowH = $('.jquery-lightbox').first().height();
                          console.log('window height: ' + windowH);

                          var titleH = $('.title-area').first().height();
                          console.log('title height: ' + titleH);

                          $('.mediaitem-content').first().height((windowH - titleH - 60));
                          console.log('content height: ' + $('.mediaitem-content').first().css('height'));

                      }
                  }
                  );
                });

                marker.addTo(map);

                $("#location-{{ location.id }} a").click(function() {
                  $.lightbox([
                      {% for mediaitem in location.mediaitem_set.all %}
                        {
                          href   : "{% url 'mediaitem_detail' mediaitem.id %}",
                          modal  : true,
                          width  : 1000,
                          height : 750,
                          title  : "{{ location.name }} : {{ mediaitem.title }}"
                        },
                      {%  endfor %}
                  ]);
{#                  return false;#}
                });
            {% endfor %}
        }

    </script>


{% endblock extra_script %}