
<script type="text/javascript" src="{{ STATIC_URL }}mediastory/jquery.lightbox/js/lightbox/jquery.lightbox.min.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<!--[if lt IE 9]>
      <script type="text/javascript" src="{{ STATIC_URL }}mediastory/lightview/js/excanvas/excanvas.js"></script>
    <![endif]-->
<script type="text/javascript" src="{{ STATIC_URL }}mediastory/lightview/js/spinners/spinners.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}mediastory/lightview/js/lightview/lightview.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}mediastory/js/mediastory.js"></script>
