{%  load polytype %}{% load embed_video_tags %}{% load fb_versions %}


<div class="mediaitem-container">
    <div class="title-area">
        <h1>{{  mediaitem.location.name  }}</h1>
    </div>


    <div class="mediaitem-content">

    {% with mediaitem|modeltype as modeltype %}
        {% if modeltype == "TextMediaItem" %}

            <div class="story-text">
                {{  mediaitem.text|safe }}
            </div>

        {% elif modeltype == "ImageMediaItem" %}

            <div class="image media-wrapper">
                <img src="{% version mediaitem.image 'medium' %}" />
            </div>

            <div class="img-caption">
                <p>{{ mediaitem.image.caption }}</p>
            </div>

            <div class="story-text">
                {{  mediaitem.text|safe }}
            </div>

        {% elif modeltype == "AudioMediaItem" %}

            <div class="audio-player media-wrapper">
                <audio controls="controls">
                    <source src="{{ mediaitem.audio_file }}" type="{{ mediaitem.audio_file.mimetype.0 }}" />
                </audio>
            </div>

            <div class="img-caption">
                <p>{{ mediaitem.image.caption }}</p>
            </div>

            <div class="story-text">
                {{  mediaitem.text|safe }}
            </div>

        {% elif modeltype == "ExternalVideoMediaItem" %}

            <div class="video-player video-player-external media-wrapper">
                {% video mediaitem.video 'large' %}
            </div>

            <div class="story-text">
                {{  mediaitem.text|safe }}
            </div>

        {%  endif %}
    {%  endwith %}

        <h2> {{ mediaitem.title }}</h2>


    </div>

</div>