{%  load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mediastory/jquery.lightbox/js/lightbox/themes/carbono/jquery.lightbox.css" />
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mediastory/jquery.lightbox/js/lightbox/themes/carbono/jquery.lightbox.ie6.css" />
<![endif]-->

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mediastory/css/media.css" />

<script src="{{ STATIC_URL }}mediastory/js/mediastory.js"></script>

