{%  load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
{% comment %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mediastory/jquery.lightbox/js/lightbox/themes/carbono/jquery.lightbox.css" />
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mediastory/jquery.lightbox/js/lightbox/themes/carbono/jquery.lightbox.ie6.css" />
<![endif]-->{% endcomment %}

 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mediastory/lightview/css/lightview/lightview.css"/>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mediastory/css/gn-styles.css" />

<script src="{{ STATIC_URL }}mediastory/js/mediastory.js"></script>

